<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Not_Kayit_Sistemi.Properties.Settings.DbNotKayıtConnectionString"
            connectionString="Data Source=LAPTOP-O1DRK0LF;Initial Catalog=DbNotKayıt;User ID=sa;Password=kaya96SUM;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>